:root {
  --bg-color-pink-900: hsl(335.9, 69%, 30.4%);
  --bg-color-pink-200: hsl(325.9, 84.6%, 89.8%);
  --bg-color-pink-100: hsl(325.70000000000005, 77.8%, 94.7%);

  --bg-color-pink-50: hsl(327.29999999999995, 73.3%, 97.1%);

  --bg-color-rose-900: hsl(341.5, 75.5%, 30.4%);
}
